<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612281363431-cj6set8goqhfq92enobe2tk7v8d3ra9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612281363431-cj6set8goqhfq92enobe2tk7v8d3ra9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCFcKSH4oK9zS_es9dJejA24XsEBr79EoI</string>
	<key>GCM_SENDER_ID</key>
	<string>612281363431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDraft1</string>
	<key>PROJECT_ID</key>
	<string>auto-shopper-e8b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-shopper-e8b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612281363431:ios:1a097bb7ddfbb490bfab42</string>
	<key>DATABASE_URL</key>
	<string>https://auto-shopper-e8b9a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>